.Card {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    box-shadow: -1px 7px 27px -4px rgba(0,0,0,0.55);
    -webkit-box-shadow: -1px 7px 27px -4px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 7px 27px -4px rgba(0,0,0,0.55);
}

.Card .info{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

.Card .info button{
    display: flex;
    background-color: green;
    font-size: large;
    padding: 10px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    margin:7px;
}

.Card img{
    width: 100%;
    height: 200px;
    object-fit: center;
}

.unidad {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}