nav{
    background-color: green;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 50px 10px 50px;
    box-sizing: border-box;
    font-size: 20px;
    gap:10px;
}

nav *{
    color: white;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-size: 25px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    white-space:nowrap;
}

.menu .link{
    text-decoration: none;
}

@media (width <= 437px) {
    nav {
      flex-direction: column;
    }

    .redes{
        order: 2;
    }

    .menu{
        order: 1;
        padding-bottom: 5px;
    }



  }